---
import Header from "./Header.astro";
const {topic, h2, date, imgSrc1 = "", imgSrc2 = "", illustrationSrc1 = "", alt="", illustrationSrc2 = "", btnHref = "#", body, p1, p2} = Astro.props;
---
<Header h1={topic} imgSrc={illustrationSrc1}></Header>
<section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">

<div class="col-start-2 lg:col-start-3 col-span-4 text-green-500 font-gloock uppercase text-h2-mobil lg:text-h2-desktop">{h2}</div>
<div class="text-green-500 font-dmsans text-h3-mobil lg:text-h3-desktop uppercase col-start-2 lg:col-start-3 col-span-full">{date}</div>
<div class="col-start-3 col-span-3">{illustrationSrc2}</div>


<div id="mobil" class="col-start-2 col-span-10 lg:hidden">
<p class=" text-red-900 text-p-regular-mobil lg:text-p-regular-desktop">{body}</p>
</div>




<div id="desktop" class="grid grid-cols-grid-desktop mx-margin-desktop gap-gap-desktop">
<div class="col-span-10 col-start-5 hidden lg:block">
    <p class=" text-red-900 text-p-regular-desktop">{body}</p>
</div>

<p class="col-start-9 col-span-11 text-label-desktop font-bold text-red-900 text-right">{p1}</p>
<img class="col-start-8 col-span-11 max-w-full h-auto" src={imgSrc1} alt={alt}>
<img class="col-start-8 col-span-11 max-w-full h-auto" src={imgSrc2} alt={alt}>
<p class="col-start-9 col-span-11 text-label-desktop font-bold text-red-900 text-right">{p2}</p>

</div>



</section>