---
import IconButton from "../components/Button.astro";

const {
  title = "",
  backHref = "/artikler",
  headingIntro = "",
  heading1 = "",
  heading2 = "",
  heading3 = "",
  heading4 = "",
  headingConclusion = "",
} = Astro.props;
---

<section class="space-y-5">
  {title && (
    <h2 class="text-h3-mobile lg:text-h3-desktop uppercase  font-dmsans text-green-500">
      {title}
    </h2>
  )}

  <!-- Introduktion -->
  {headingIntro && (
    <h3 class="text-h5-mobile lg:text-h5-desktop font-dmsans text-green-500">
      {headingIntro}
    </h3>
  )}
  <p class="pb-spacebarm16 text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="intro" />
  </p>

  <!-- Sektion 1 -->
  {heading1 && (
    <h3 class="text-h5-mobile lg:text-h5-desktop font-dmsans text-green-500">
      {heading1}
    </h3>
  )}
  <p class="pb-spacebarm16 text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="section1" />
  </p>

  <!-- Sektion 2 -->
  {heading2 && (
    <h3 class="text-h5-mobile lg:text-h5-desktop   font-dmsans text-green-500">
      {heading2}
    </h3>
  )}
  <p class="pb-spacebarm16 text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="section2" />
  </p>

  <!-- Sektion 3 -->
  {heading3 && (
    <h3 class="text-h5-mobile lg:text-h5-desktop   font-dmsans text-green-500">
      {heading3}
    </h3>
  )}
  <p class="text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="section3" />
  </p>

  <!-- Sektion 4 -->
  {heading4 && (
    <h3 class="text-h5-mobile lg:text-h5-desktop  font-dmsans text-green-500">
      {heading4}
    </h3>
  )}
  <p class="pb-spacebarm16 text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="section4" />
  </p>

  <!-- Konklusion -->
  {headingConclusion && (
    <h3 class="text-h5-mobile lg:text-h5-desktop   font-dmsans text-green-500">
      {headingConclusion}
    </h3>
  )}
  <p class="pb-spacebarm16 text-p-small-mobil lg:text-p-small-desktop font-dmsans text-red-900">
    <slot name="conclusion" />
  </p>

  <!-- Desktop-knap -->
  <div class="hidden lg:block">
    <IconButton text="Tilbage" variant="secondary-right" size="large" href={backHref} />
  </div>
</section>










