---
const {
  subheader,
  text,
  color = "green", // "green" eller "beige"
  BulletPoints3 = ["Første punkt", "Andet punkt", "Tredje punkt"],
} = Astro.props;

// Dynamiske farveklasser
const headerColor = color === "beige" ? "text-beige-500" : "text-green-500";
const textColor = color === "beige" ? "text-beige-500" : "text-red-900";
---
<div class="grid gap-5">
  <h3 class={`sm:text-h3-mobil lg:text-h3-desktop ${headerColor}`}>{subheader}</h3>
  <p class={`sm:text-p-regular-mobil lg:text-p-regular-desktop ${textColor}`}>{text}</p>
  <ul class="list-disc text-beige-500 list-inside text-p-regular-mobil lg:text-p-regular-desktop space-y-4">
    {BulletPoints3.map((point) => (
      <li>{point}</li>
    ))}
  </ul>
</div>